.HomePage{
/*   position: absolute;
   top:0;
   left: 0;
   right: 0;
   bottom: 0;*/
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  max-width: 800px;
 }

.section{
  margin: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.section-container{
  padding: 10px;
}

.carousel-item {
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.car-item {
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.service-item {
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.iframe{
  width: 100%;
  height: 500px;
}

